.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  justify-content: space-between;
}

.header > *{
    margin: 0 20px;
}

.body {
    margin: 58px 0;
}

.cards{
    margin: 20px 5px 5px 20px;
}
